<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../publics/styles.css">
</head>
<body>
<%- include('./partials/header') -%>
<div class ="central">
    <h1>
        Express Movies :
    </h1>
    <div>
        Détails du film <%= movieId%>
    </div>

</div>

<%- include('./partials/footer') -%>
</body>

</html>